/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
*/

@import "variables";

body {
    color: @grayLight;
}

.container {
    height: 100%;
}

.tab-pane {
    display: none;
}
.tab-pane.active{
    display: block;
}

table.entities {
    width: 100%;
    th {
        border-bottom: 1px solid @grayDark;
        background: @grayDark
    }
    th, td {
        width: 10%;
        border-right: 1px solid @grayDark;
        text-align: right;
        padding: 3px;
    }
    .max {
        width: 20%;
    }
    .name {
        width: 15%;
        text-align: left;
    }
    td.progress {
        width: 45%;
        .bar {
            text-align: left;
            span {
                padding-left: 10px;
            }
            span.dark {
            }
        }
    }
    
}

.encounters {
    padding: 0px;
}

.encounter-tabs {
    overflow: scroll;
    height: 90%;
    position: fixed;
    .nav-tabs { margin-right: 0px; }
}

.entity-header {
    border-bottom: @blue 2px solid;
}

.log-name {
    position: fixed;
}

.log-name-spacer {
    visibility: hidden;
}

.duration {
    text-align: right
}